header, button {
    font-family: 'Montserrat'
}

header {
    text-align: center;
    background-color: #3776ab; 
    color: white; 
    padding: 10px; 
    margin: 20px 15%;
}


.container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* change to flex-start to move buttons up */
    height: 100vh;
    margin-top: 50px;
}

button {
    padding: 12px 24px;
    margin: 0 10px;
    font-size: 20px;

    background-color: #8dc6ff; /* set background color to a green shade */
    color: white; /* set font color to white */
    cursor: pointer;
  }
