<!DOCTYPE html>
<html>
<head>
   {% load static %}
   <link rel="stylesheet" href="{% static '/stylee.css' %}">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
   <header>
      <h1>Sistema Finanças</h1>
      <a href="{% url 'home' %}"><span class="material-symbols-outlined" style="font-size: 50px;">home</span></a>
   </header>
   <div class="container">
      <form action="." method="post">
         <h1>Cadastrar Receitas</h1>
         {% csrf_token %}
         {{ form.as_p }}
         <input type="submit" value="Cadastrar">
      </form>
      <form action="." method="get">
         <h1>Filtros</h1>
         {% csrf_token %}
         {{ filtroForm.as_p}}
         <input type="submit" value="Filtrar">
         <input type="submit" value="Remover Filtro">
      </form>
   </div>
   <table>
      <tr>
         {% for head in header %}
         <th>{{ head }}</th>
         {% endfor %}
      </tr>
      {% load humanize %}
      
      {% for receita in receitas %}
      <tr>

         <td style="color:green">+ R$ {{ receita.valor|floatformat:2|intcomma }}</td>
         <td>{{ receita.data }}</td>
         <td>{{ receita.descricao }}</td>
         <td>{{ receita.categoria }}</td>
         <td>{{ receita.comprovante }}</td>
         <td><a class="alterar" href="{% url 'alterar' receita.id %}"><span class="material-symbols-outlined">edit</span></a><a class="alterar" href="{% url 'alterar' receita.id %}"><span class="material-symbols-outlined">delete</span></a></td>
      </tr>
      {% endfor %}
      
   </table>
   </div>

</body>
</html>