body{
    font-family: 'Montserrat';
}

header {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #3776ab; 
    color: white; 
    padding: 10px; 
    margin: 20px 15%;
    justify-content: space-between;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 5px;
}

table {
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    max-width: 70%;
    padding: 10px; 
    margin: 20px 15%;
}

form {
    justify-content: left; 
    flex-direction: column;
    padding: 10px; 
    margin: 0 15%;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #8dc6ff;
    color: black;
    font-weight: bold;
}

input[type="file"] {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 4px;
}
  
input[type="submit"], .btn-primary{
    background-color: #3776ab;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;

}

.alterar, .remover {
    color: #3776ab;
    font-size: 15px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #3776ab;
}

.btn-secondary {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
